In [3]:
## Airquality- Dataset Assignment 4
# Use data - https://s3.amazonaws.com/datasetsgun/data/terror.csv
import numpy as np
import pandas as pd
from pandas import DataFrame
import os
import warnings
warnings.filterwarnings('ignore')
airquality_data = 'E:/ML/airquality.csv'
airquality=pd.read_csv(airquality_data, header=0,encoding="Latin")
airquality.head(5)

   Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
0           1   41.0    190.0   7.4    67      5    1
1           2   36.0    118.0   8.0    72      5    2
2           3   12.0    149.0  12.6    74      5    3
3           4   18.0    313.0  11.5    62      5    4
4           5    NaN      NaN  14.3    56      5    5

In [5]:
#1.	Fetch the observations for 9 day of June
airquality.query("(Month==6 and Day==9)")

    Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
39          40   71.0    291.0  13.8    90      6    9

In [6]:
#2.	Find Average temperature for the month of June. 
airquality.query("(Month==6)").mean().Temp

79.1

In [20]:
#3.	To which day of June has the least temperature
airquality[airquality.Month==6].sort_values('Temp',ascending=True).head(1)[['Day','Temp']]

    Day  Temp
48   18    65

In [18]:
airquality.query("(Month==6)")[["Day","Temp"]].sort_values('Temp',ascending=True).head(1)

    Day  Temp
48   18    65

In [22]:
#4.	Find Maximum Ozone value for the month of May
airquality.query("(Month==5)").max().Ozone

115.0

In [29]:
#5.	Find the count of the missing values in the ozone column of the data set
airquality.Ozone.isnull().sum()

37

In [41]:
#6.	Find out What is the mean of the Ozone column in this dataset
round(airquality.Ozone.mean(),2)

42.13

In [57]:
#7.	Find out which month has the highest temperature
airquality.sort_values('Temp',ascending=False).head(1)[['Month','Day']]

     Month  Day
119      8   28

In [55]:
#8.	Find out the wind value when the Ozone becomes maximum
airquality.sort_values('Ozone',ascending=False).head(1)[['Wind','Ozone']]

     Wind  Ozone
116   3.4  168.0

In [60]:
#9.	Find out the months for which the airquality observations have been carried out
airquality.Month.unique()

array([5, 6, 7, 8, 9], dtype=int64)

In [61]:
#10.	Find the Ozone and temperature values for the 1st observation of every month.
airquality.query("(Day==1)")[['Ozone','Temp','Month','Day']]

     Ozone  Temp  Month  Day
0     41.0    67      5    1
31     NaN    78      6    1
61   135.0    84      7    1
92    39.0    81      8    1
123   96.0    91      9    1

In [62]:
#11.	Which day of which month corresponds to the least Ozone Value. 
airquality.sort_values('Ozone',ascending=True).head(1)[['Month','Day','Ozone']]

    Month  Day  Ozone
20      5   21    1.0

In [63]:
#12.	Convert the temperature for all the observations to Centigrade scale
round(((airquality.Temp-32)*5)/9,2)

0      19.44
1      22.22
2      23.33
3      16.67
4      13.33
5      18.89
6      18.33
7      15.00
8      16.11
9      20.56
10     23.33
11     20.56
12     18.89
13     20.00
14     14.44
15     17.78
16     18.89
17     13.89
18     20.00
19     16.67
20     15.00
21     22.78
22     16.11
23     16.11
24     13.89
25     14.44
26     13.89
27     19.44
28     27.22
29     26.11
       ...
123    32.78
124    33.33
125    33.89
126    33.89
127    30.56
128    28.89
129    26.67
130    25.56
131    23.89
132    22.78
133    27.22
134    24.44
135    25.00
136    21.67
137    21.67
138    25.56
139    19.44
140    24.44
141    20.00
142    27.78
143    17.78
144    21.67
145    27.22
146    20.56
147    17.22
148    21.11
149    25.00
150    23.89
151    24.44
152    20.00
Name: Temp, Length: 153, dtype: float64